/*
 * CSS Document
 * tag.css
 * Created by DAMU for codefight CMS
 * First created on 21.03.09 
 */
.tag_cloud {
	display:block;
	margin:0 auto;
	padding-top:10px;
	width:100%;
	text-align:center;
	}
.tag_cloud #tag_cloud
{
	background:#fff;
	-moz-border-radius:0 0 4px 4px;
	-webkit-border-radius:0 0 4px 4px;
	-khtml-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
}
.tag_cloud a {
	display:block;
	float:left;
	padding:0 2px 2px 0;
	}
.tag_cloud a:hover {
	border:1px solid #dedede;
	background:#f3f3f3;
	padding:0 0 2px 0;
	}
.tag_cloud a.cloud0 {
	font-size:22px !important;
	color:#FF00FF;
	}
.tag_cloud a.cloud1 {
	font-size:21px !important;
	color:#00FFFF;
	}
.tag_cloud a.cloud2 {
	font-size:20px !important;
	color:#FFFF00;
	}
.tag_cloud a.cloud3 {
	font-size:19px !important;
	color:#0000FF;
	}
.tag_cloud a.cloud4 {
	font-size:18px !important;
	color:#00FF00;
	}
.tag_cloud a.cloud5 {
	font-size:17px !important;
	color:#FF0000;
	}
.tag_cloud a.cloud6 {
	font-size:16px !important;
	color:#000000;
	}
.tag_cloud a.cloud7 {
	font-size:15px !important;
	color:#333333;
	}
.tag_cloud a.cloud8 {
	font-size:14px !important;
	color:#666666;
	}
.tag_cloud a.cloud9 {
	font-size:13px !important;
	color:#999999;
	}
.tag_cloud a.cloud10 {
	font-size:12px !important;
	color:#999999;
	}
.tag_cloud a.cloud11 {
	font-size:11px !important;
	color:#999999;
	}
.tag_cloud a.cloud12 {
	font-size:10px !important;
	color:#999999;
	}
.tag_cloud a.cloud13 {
	font-size:10px !important;
	color:#999999;
	}
.tag_cloud a.cloud14 {
	font-size:10px !important;
	color:#999999;
	}
.tag_cloud a.cloud15 {
	font-size:10px !important;
	color:#999999;
	}
.tag_cloud a.cloud16 {
	font-size:9px !important;
	color:#999999;
	}
.tag_cloud a.cloud17 {
	font-size:9px !important;
	color:#999999;
	}
.tag_cloud a.cloud18 {
	font-size:9px !important;
	color:#999999;
	}
.tag_cloud a.cloud19 {
	font-size:9px !important;
	color:#999999;
	}
.tag_cloud a.cloud20 {
	font-size:9px !important;
	color:#999999;
	}





