.idea/
*.test.*
trunk/app/config/development
trunk/app/logs/*
trunk/app/logs/!index.html
trunk/app/cache/*
trunk/app/cache/!index.html
trunk/media/cache/*
trunk/media/cache/!index.html
trunk/skin/global/js/share.js
trunk/skin/global/js/complier.jar
