*.test.*
.DS_Store
.idea/
trunk/app/cache/*
!trunk/app/cache/.htaccess
!trunk/app/cache/index.html
trunk/app/config/development
trunk/media/cache/*
trunk/media/cache/!index.html
trunk/skin/frontend/default/cache/*
trunk/skin/frontend/white/cache/*
trunk/skin/global/cache/*
trunk/skin/global/js/complier.jar
trunk/skin/global/js/share.js
trunk/skin/admin/default/cache/*
trunk/skin/admin/default/cache/!index.html
Thumbs.db
trunk/skin/admin/default/cache/*
trunk/skin/admin/default/cache/!index.html
/sql.sql
trunk/skin/global/js/cfShare.js

trunk/app/logs/*
!trunk/app/logs/.htaccess
!trunk/app/logs/index.html
trunk/writable/logs/*
!trunk/writable/logs/.htaccess
!trunk/writable/logs/index.html
trunk/writable/cache/*
!trunk/writable/cache/.htaccess
!trunk/writable/cache/index.html
trunk/writable/uploads/*
!trunk/writable/uploads/.htaccess
!trunk/writable/uploads/index.html
trunk2/