	DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
    RewriteEngine On

	#disable directory listing for security reasons
	Options -Indexes

	#RewriteBase /codefight_141/

	#RewriteCond %{HTTP_HOST} !^local.codefight.org [NC]
	#RewriteRule ^(.*)$ http://local.codefight.org/$1 [L,R=301]

	#RewriteRule ^(home(\.html)?)$ http://local.codefight.org/ [L,R=301]

	RewriteCond %{THE_REQUEST} \/index\.(php|html)\ HTTP [NC]
	RewriteRule (.*)index\.(php|html)$ /$1 [R=301,L]

	RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]

</IfModule>
