<IfModule mod_rewrite.c>
    RewriteEngine On
	
	#disable directory listing for security reasons
	Options -Indexes
	
	#RewriteBase /codefight_141/
	#RewriteCond %{HTTP_HOST} !^nplab.codefight.org [NC] 
	#RewriteRule ^(.*)$ http://nplab.codefight.org/$1 [L,R=301]
	
	RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>