/* Clear Definition : life saver with floats */
.clear {
	clear:both !important;
	line-height:0 !important;
	height:0 !important;
	font-size:0 !important;
	display:block !important;
	float:none !important;
	margin:0 !important;
	padding:0 !important;
	}
/* END: ----------------------- */


/* Error/Success Messages Definition */
.error {
	background-color:#fcf;
	border:1px solid #FF0033;
	color:#FF0000;
	display:block;
	margin:2px 0;
	padding:5px 10px 4px 10px;
	}
.success {
	border:1px solid #00CC00;
	color:#006600;
	display:block;
	margin:2px 0;
	padding:15px 10px 4px 10px;
	}
/* END: ----------------------- */


/* Link Styles */
a:link,
a:visited {
	color: #FFFFFF;
	text-decoration: underline;
}
a:hover {
	color: #000;
	text-decoration: underline;
}
a:active {
	color: #000;
	text-decoration: none;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: Helvetica, Arial;
  line-height: 1.1em;
  font-weight: bold;
  padding-bottom: 15px;
  text-shadow: 0 1px 0 #fff;
}
h1 {
  font-size: 40px;
  letter-spacing: -1px;
}
  h1 a:link,
  h1 a:visited {
    color: #000;
    text-decoration: none;
  }
  h1 a:hover {
    background: #eee;
    text-decoration: none;
  }
h2 {
  font-size: 30px;
  letter-spacing: -1px;
}
  #page h2 {
    font-size: 36px;
    padding-bottom: 20px;
  }
    #page h2 span {
      font-size: 30px;
      color: #5f5f5f;
    }
h3 {
  font-size: 30px;
  letter-spacing: -0.02em;
  color: #373737;
}
  #page h3 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: normal;
  }
  #sidebar h3 {
    font-size: 23px;
  }
  #sidebar .side-link a:link,
  #sidebar .side-link a:visited {
    color: #000;
    text-decoration: none;
  }
h4 {
  font-size: 22px;
  font-weight: normal;
  padding-bottom: 10px;
}
h5 {
  font-size: 14px;
}
h6 {
}
/* Wraps */
#header_wrap {
  height: 114px;
  padding: 0;
  position: relative;
  margin-bottom: 25px;
  z-index: 99;
  min-width: 980px;
}
#content_wrap {
    margin-bottom: 25px;
    min-width: 980px;
    padding: 0 10px;
    position: relative;
}
#footer_wrap {
  padding: 20px 10px;
  position: relative;
  min-width: 980px;
}
/* Header */
#header {
    height: 69px;
    margin: 0 auto;
    position: relative;
    z-index: 99;
}

  /* Logo */
  h2.logo{}
  a.logo {
    background: /*url("../images/logo.jpg") no-repeat scroll 5px 5px*/ #FFFFFF;
    border: 1px solid #DDDDDD;
      color: #000000;
    display: block;
    height: 27px;
    left: 0;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 20px;
    /*width: 230px;*/
}
  /* Top Navigation */
  #header ul.top_navigation {
    position: absolute;
    right: 110px;
    top: 15px;
    font-size: 11px;
    float: left;
    z-index: 100;
  }
    #header .top_navigation li {
      margin-left: 10px;
      padding: 5px;
      display: block;
      float: left;
    }
      #header .top_navigation a {
        float: left;
        display: block;
      }
      #header .top_navigation a:link,
      #header .top_navigation a:visited {
        color: #FFFFFF;
        text-decoration: none;
      }
      #header .top_navigation a:hover {
        color: #eee;
        text-decoration: underline;
      }
      #header .top_navigation a:active {
        color: #FFFFFF;
      }
  /* Navigation */
  #navigation_wrap {
    background: none repeat scroll 0 0 #555555;
    border: 1px solid #444444;
    display: block;
    height: 40px;
    width: 100%;
  }
  #navigation_wrap_inner {
    margin: 0 auto;
	position: relative;
	z-index: 99;
    width: 1190px;
  }
  #navigation {
    position: absolute;
    left: -15px;
    top: 2px;
    height: 42px;
  }
    #navigation_wrap ul.navigation {
      position: relative;
      height: 42px;
    }
      #navigation_wrap ul.navigation li {
        display: block;
        float: left;
        position: relative
      }
        #navigation_wrap ul.navigation li a {
          display: block;
          float: left;
          padding: 12px 14px 16px 15px;
          font-size: 14px;
          line-height: 14px;
        }
        /* Navigation Link Colors */
        #navigation_wrap ul.navigation li a:link, #navigation_wrap ul.navigation li a:visited {
			color: #FFFFFF;
			font-size: 16px;
			font-weight: bold;
			text-decoration: none;
		}
        #navigation_wrap ul.navigation li a:hover {
          color: #fff;
          text-decoration: none;
        }
        #navigation_wrap ul.navigation li a:active {
          color: #a1917b;
        }

        #navigation_wrap ul.navigation li.parent > a:hover,
        #navigation_wrap ul.navigation li:hover.parent > a {
          background: url(../images/arrow.gif) no-repeat center 30px;
        }
        #navigation_wrap ul.navigation li ul {
          background: #4b4338;
          border: 1px solid #171717;
          top: 41px;
          left: 15px;
          position: absolute;
          width: 182px;
          padding-top: 2px;
          display: none;
        }
        #navigation_wrap ul.navigation li:hover ul {
          display: block;
        }
        #navigation_wrap ul.navigation li:hover a {
          color: #FF9900;
        }
          #navigation_wrap ul.navigation li ul li {
            border-bottom: 1px solid #6f6658;
            padding: 3px 4px;
            width: 174px;
          }
          #navigation_wrap ul.navigation li:last-child {
            border-bottom: none;
          }
            #navigation_wrap ul.navigation li ul li a {
              display: block;
              width: 158px;
              background: transparent;
              line-height: 16px;
              font-size: 12px;
              padding: 3px 7px;
              color: #cfc5ac !important;
              border: 1px solid transparent;
              -moz-border-radius: 5px;
            	-webkit-border-radius: 5px;
            	border-radius: 5px;
            }
            #navigation_wrap ul.navigation li ul li a:hover {
              background: #40372f;
              color: #fff;
              border: 1px solid #40372f;
            }

  /* Search Form */
  .search_form {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #000000;
    bottom: 17px;
    height: 28px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 5px;
    width: 244px;
  }
    input#search_term {
      color: #6d5d52;
      font-size: 12px;
      border: none;
      border-top: 1px solid #fff;
      padding: 4px 10px 4px 10px;
      width: 188px;
      height: 18px;
    }
    input.submit_button {
      width: 36px;
      height: 30px;
      position: absolute;
      right: -1px;
      top: -1px;
      border: none;
      text-indent: -9999px;
      letter-spacing: -5px;
      color: #fff;
      padding: 0;
      margin: 0;
      display: block;
      cursor: pointer;
    }
/* Page Wrap (fix float issue) */
.page_wrap {
  width: 754px;
  float: left;
}
.page_wrap a{
  color: #222;
  text-decoration: none;
}
.page_wrap a:hover{
  color: #f60;
  text-decoration:underline;
}
/* Leader Board */
.leader_board {
  margin: 0 auto;
  position: relative;
  overflow: visible;
  float: left;
  border: 1px solid #b4b4b4;
  background: #e1e1e1;
  margin-bottom: 25px;
    width: 728px;
    height: 90px;
}

/* Content */
#content {
  margin: 0 auto;
  position: relative;
  overflow: visible;
}
  #page {
    float: left;
    width: 752px;
    border: 1px solid #ddd;
    background: #fff;
    position: relative;
    z-index: 1;
  }
  #content .single_post {
    background: none;
    border: none;
  }
    #page .page_inner {
      width: 752px;
      float: left;
      border-top: 1px solid #fefefe;
      background: transparent;
    }
    #content .single_post .page_inner {
      border-top: none;
      background: none;
    }

      /* Page Title */
      .page_title {
        background: #f9f9f9;
        border-bottom: 1px solid #dfdfdf;
        padding: 25px 36px 15px 36px;
        width: 680px;
        float: left;
      }
        .page_title h1 {
          color: #000;
          text-shadow: 0 1px 0 #fff;
        }
      /* Post Styles */
      #page .post {
        width: 680px;
        float: left;
        padding: 40px 36px;
        position: relative;
      }
      #page .post img {
        max-width: 640px;
      }
      #page .post_inner_article {
        border: 1px solid #ddd;
        border-bottom: none;
        position: relative;
        background: #fff;
      }
      .post_inner_article a {
      }
              #page .post ul li {
                display: inline;
                padding: 0;
                margin: 0;
                background: none;
              }
                #page .post ul li a {
                }
                #page .post ul li span {
                  padding: 0 7px;
                }
          /* Post Title */
          #page .post h1.post_title {
            padding-bottom: 10px;
          }
          .article {
            clear: both;
            padding-top: 14px;
          }
          .page_inner ul,
          .page_inner ol {
          	margin-bottom: 15px;
          }
            .page_inner ul ul,
            .page_inner ol ol {
            	margin-bottom: 0px;
            }
            .page_inner ul li {
            	margin-bottom: 10px;
            	margin-left: 5px;
            	padding-left: 35px;
            }
            .page_inner ol li {
            	margin-bottom: 10px;
            	margin-left: 30px;
            	padding-left: 10px;
            }
            .page_inner ul li {
            	background: url(../images/li.gif) no-repeat 0 8px;
            }
            .page_inner ol li {
            	list-style: decimal;
            }
          #page table {
          	border-top: 1px solid #CCCCCC;
          	border-right: 1px solid #CCCCCC;
          	width: 100%;
          	margin: 20px 0;
          }
            #page table td {
            	padding: 4px;
            	border-left: 1px solid #CCCCCC;
            	border-bottom: 1px solid #CCCCCC;
            }
            #page table thead td {
            	font-weight: bold;
            }
          #page hr {
            width: 100%;
            height: 1px;
            background: #dfdfdf;
            margin: 30px 0;
            display: block;
            border: none;
            clear: both;
          }
          blockquote {
            border-top: 1px solid #dfdfdf;
            border-bottom: 1px solid #dfdfdf;
            display: block;
            width: 100%;
            margin: 30px 0;
            margin-top: 10px;
            clear: both;
            color: #414141;
            font-family: "Myriad Pro", Verdana, sans-serif;
            font-size: 18px;
            line-height: 23px;
            font-style: italic;
          }
            blockquote p {
              padding: 10px 40px;
            }
            blockquote .source {
              display: block;
              font-size: 14px;
              font-family: Arial;
              font-style: normal;
            }
          blockquote.pullquote,
          div.pullquote {
          	width: 255px;
          	text-align: center;
          	font-size: 25px;
          	line-height: 30px;
          	border: 1px solid #ddd;
          	float: right;
            margin: 30px 0 30px 30px;
          }
            blockquote.pullquote p,
            div.pullquote p {
            	padding: 30px;
            }

/* Sidebar */
#sidebar {
    background: none repeat scroll 0 0 #E9E9E9;
    border: 1px solid #FFFFFF;
    display: block;
    float: right;
    position: relative;
    width: 400px;
}
  #sidebar #ads {padding: 20px;}
  #sidebar #ads .ad336x280 {
	  display:block;
	  width:336px;
	  margin:0 auto;
  }

  /* Social Networking */
  #social_networking {
    position: relative;
    zoom: 1;
    float: left;
    margin-left: 10px;
    padding-bottom: 5px;
    min-height: 200px;
    display: none;
  }

/* Footer */
#footer {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  color: #424242;
}
  .footer_inner {
    width: 754px;
    position: relative;
    overflow: hidden;
  }
    /* Bottom Footer Area */
    .footer_inner ul li {
      display: inline;
    }
    /* Footer Links */
    .footer_inner ul.footer_links {
      float: right;
      position: relative;
      right: -8px;
    }
      .footer_inner ul.footer_links li {
        display: inline;
        border-left: 1px solid #b0b0b0;
        padding: 0 8px 0 12px;
        font-size: 11px;
        line-height: 11px;
      }
      #footer a {
		color: #333333;
		text-decoration: none;
      }
      #footer a:hover {
		text-decoration: underline;
	  }
      .footer_inner ul.footer_links li.first {
        border: none;
      }


/**/
#header_wrap{background:#333;}
#footer_wrap {background:#ddd;}
#header_wrap, #content_wrap, #footer_wrap {
    min-width: 1190px;
}
#header, #sub_header, #content, #footer {
    width: 1190px;
}

#page .post ul.category-page-columns {
    margin: 0;
    width: 225px;
}
#page .post ul.category-page-columns li {
    display: block;
}
#page .post ul.tmpl-templates li {margin: 0 24px 20px 0;}
#page .post ul.tmpl-templates li.last {margin: 0 0 20px 0;}

a.bottom-right-fix-ad {
    bottom: 26px;
    display: block;
    height: 125px;
    /*overflow: hidden;*/
    position: fixed;
    right: 9px;
    width: 125px;
}
a.bottom-right-fix-ad span.close {
    display: block;
    left: 0;
    position: relative;
    top: 0;
}
a.bottom-right-fix-ad span.close span {
    background: #DEDEDE;
    color: #000000;
    font-family: arial,verdana,sans-serif;
    font-size: 9px;
    left: 1px;
    line-height: 12px;
    padding: 0;
    position: absolute;
    top: 1px;
}


.tag
{
    display:block;
    padding:5px;
}
.tag .title
{
    background:#DEDEDE;
    border:1px solid #999999;
    display:block;
    float:left;
    font-weight:bold;
    padding:2px 4px;
}
.tag a.tag
{
    background:#F3F3F3;
    border:1px solid #DEDEDE;
    color:#666;
    display:block;
    float:left;
    margin-left:5px;
    margin-bottom:5px;
    padding:2px 4px;
}
.tag a.tag:hover
{
    border:1px solid #AEE474;
    color:#218B03;
}
.tag a.tag_last {
}
.author_date
{
    background-color:#90D47E;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -khtml-border-radius:4px;
    border-radius:4px;
    padding:4px;
    border:1px solid #eee;
    color:#333;
    display:block;
    font-size:9px;
    margin-bottom:5px;
    padding:5px 10px;
    text-align:right;
}
.author_date .author
{
    padding-right:10px;
}
.author_date .date
{
    float:right;
}
.page_numbers {
    display:block;
    margin:0 auto;
    padding-top:10px;
    width:100%;
    text-align:center;
}
.page_numbers div {
    background:#F3F3F3;
    border:1px solid #DEDEDE;
    display:block;
    float:left;
    font-weight:bold;
    margin-right:2px;
}
.page_numbers div a, .page_numbers .current {
    display:block;
    padding:4px 10px;
}
.page_numbers .first {
}
.page_numbers .previous {
}
.page_numbers .digit {
}
.page_numbers .current {
    background:#666666;
    color:#FFFFFF;
}
.page_numbers .next {
}
.page_numbers .last {
}
/*Forms*/
.cf_form_label {
    background:#EEEEEE;
    display:block;
    float:left;
    margin:0 5px 15px 0;
    padding:2px;
    width:120px;
}
label.submit {
    background:none;
}
label.textarea {
}
.txtFld
{
    border:1px solid #999999;
    display:block;
    float:left;
    margin-bottom:2px;
    width:220px;
}
textarea#message {
    display:block;
    float:left;
    margin:0 0 10px;
    width:300px;
}


.comment_holder
{
    clear:both;
    display:block;
    margin-top:10px;
}
.comment_holder .title
{
    border-bottom:1px dashed #CCCCCC;
    display:block;
    font-weight:bold;
    margin:4px 0;
    padding:5px 0;
}
.comment_holder form.comment
{
    display:block;
    margin-top:20px;
}
.comment_holder form.comment label
{
    display:block;
    float:left;
    font-weight:bold;
    padding:4px;
    text-align:right;
    width:115px;
}
.comment_holder form.comment .inputtxt
{
    background:#EEEEEE;
    border:1px solid #AAAAAA;
    margin-bottom:6px;
    padding:4px;
}
.comment_holder form.comment .txtfield
{
    width:230px;
}
.comment_holder form.comment .txtarea
{
    height:80px;
    overflow:auto;
    width:230px;
}
.comment_holder form.comment .button
{
    margin-left:107px;
}
.comment_holder form.comment label.spam_question
{
    clear:both;
    display:block;
    float:none;
    margin-left:103px;
    text-align:left;
    width:auto;
}
.comment_holder #comment
{
    display:block;
}
.comment_holder #comment div.comment
{
    background:#FFFFFF;
    display:block;
    margin-top:15px;
}
.comment_holder #comment p.comment
{
    display:block;
    margin:0;
    padding:4px 10px;
}
.comment_holder #comment p.commenter
{
    border-top:1px solid #FFFFFF;
    color:#777777;
    display:block;
    height:22px;
    margin:0;
    overflow:hidden;
    text-align:right;
}
.comment_holder #comment p.commenter a
{
    color:#777777;
    display:block;
    float:right;
    padding-right:6px;
}
.comment_holder #comment p.commenter a:hover
{
    color:#000;
    text-decoration:underline;
}
.comment_holder #comment p.commenter span
{
    display:block;
    float:right;
    padding:0 5px;
}
