/*
 * CSS Document
 * helper.css
 * Created by DAMU for codefight CMS
 * First created on 10.09.08 
 */
 
 /* Some Common Settings */
* {font-family:Arial, Helvetica, sans-serif;margin:0;padding:0;}
html, body {background:#2884F4;color:#333333;direction:ltr;font:12px/1.5 arial,helvetica,sans-serif;margin:0 auto;min-height:100%;padding:0;position:relative;text-align:center;unicode-bidi:embed;}
/* END: ----------------------- */


/* Paragraph and Headings Definition */
p {}
/* Heading And Paragraph Margin */
h1, h2, h3, h4, h5, p {margin:0 0 10px 0;}
/* Heading Size Reset */
h1 {font-size:200%;}
h2 {font-size:166.7%;}
h3 {font-size:150%;}
h4 {font-size:133.3%;}
h5 {font-size:116.7%;}
h6 {font-size:100%;}
/* END: ----------------------- */


/* Clear Definition : life saver with floats */	
.clear {clear:both !important;line-height:0 !important;height:0 !important;font-size:0 !important;display:block !important;float:none !important;margin:0 !important;padding:0 !important;}
/* END: ----------------------- */


/* Error/Success Messages Definition */	
.error {background-color:#fcf;border:1px solid #FF0033;color:#FF0000;display:block;margin:2px 0;padding:5px 10px 4px 10px;}
.success {border:1px solid #00CC00;color:#006600;display:block;margin:2px 0;padding:15px 10px 4px 10px;}
/* END: ----------------------- */


/* Background Definition */	
.backgroundNone {background:none !important;}
/* END: ----------------------- */


/* Border Settings : default => width:1px; color: white; */
.borderNone {border:none !important;}
.borderSolid {border:1px solid #fff;}
.borderDashed {border:1px dashed #fff;}
.borderDotted {border:1px dotted #fff;}
.borderRightGrey {border-right:1px solid #ccc;}
/* END: ----------------------- */


/* Float Setting */
.floatRight {float:right !important;}
.floatLeft {float:left !important;}
.floatNone {float:none !important;}
/* END: ----------------------- */


/* Text Style */
.bold {font-weight:bold !important;}
.italic {font-style:italic !important;}
.left {text-align:left !important;}
.right {text-align:right !important;}
.center {text-align:center !important;}
/* END: ----------------------- */


/* show/hide definition */
.hide {display:none !important;}
.show {display:block !important;}
.block {display:block;}
.displayNone {display:none;}
.displayBlock {display:block;}
/* END: ----------------------- */


/* color definition */
.blue {color:#0495f1;}
.red {color:#d42229;}
.brown {color:#c60;}
.black {color:#000;}
/* END: ----------------------- */


/* link color definition */
a {color:#2884F4;text-decoration:none;outline:none;}
a:hover {color:#021677;text-decoration:underline;}
a.brown {color:#c60;}
a.brown:hover {color:#09f;}
a.red {color:#d42229;}
a.red:hover {color:#666;}
/* END: ----------------------- */


/* useful */
.separator {border-bottom:1px dotted #AAAAAA;display:block;height:1px;margin:20px 0;}
.round4{-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;}
.round15{-moz-border-radius:15px;-webkit-border-radius:15px;-khtml-border-radius:15px;border-radius:15px;}
.round20{-moz-border-radius:20px;-webkit-border-radius:20px;-khtml-border-radius:20px;border-radius:20px;}
/* END: ----------------------- */

ul,ol {margin: 2px 0 10px 20px;}
li {margin-bottom:4px;display:block;}

/*Block Path Hints*/
.block_path {display:block;overflow:visible;z-index:100;}
.block_path:hover {z-index:1000;}
.block_path .path {background:#FFFFFF;border:1px dotted #FF6600;color:#FF0000;display:block;margin:2px;padding:2px;}