/*START:Menu Left*/
.menuLeft {
	display:block;
	float:left;
	margin:0 0 10px;
	width:160px;
	}
.menuLeft .banner_left {
	display:block;
	width:160px;
	overflow:hidden;
	}
.menuLeft div {
	margin:0 0 10px 0;
	}
/*END:Menu Left*/

/*START:Menu Top*/
.top_menu_container {display:block;width:100%;background:#f60;margin:0;padding:0;}
.menu_top {
	background:#f60;
	clear:both;
	display:block;
	margin:0 auto;
	padding:10px 0;
	width:960px;
	}
.menu_top ul {
	float:right;
	background:#f60;
	}
.menu_top ul.jd_menu li {
	margin:0 2px 2px 0;
	background:#f60;
	}
.menu_top ul.jd_menu li a {
	font-weight:bold;
	}
.menu_top ul.jd_menu li ul {
	margin:2px 2px 0 0;
	}
.menu_top ul.jd_menu li ul li ul {
	margin:2px 0 0 2px;
	}
/*END:Menu Top*/
