/*
 * CSS Document
 * homepage.css
 * Created by DAMU for codefight CMS
 * First created on 10.09.08 
 */

.siteContainer .pageContainer .largeImage {
	display:block;
	margin-bottom:20px;
	}
.siteContainer .pageContainer .infoContainer {
	display:block;
	}
.siteContainer .pageContainer .infoContainer .welcome {
	background:#FFFFFF url(../images/welcome.jpg) no-repeat 4px top;
	display:block;
	float:left;
	padding:44px 0 0 15px;
	width:450px;
	}
.siteContainer .pageContainer .infoContainer .products {
	background:#FFFFFF url(../images/latest.jpg) no-repeat scroll left top;
	display:block;
	float:right;
	padding:38px 0 0 15px;
	width:470px;
	}
.siteContainer .pageContainer .infoContainer .products .latestProducts {
	display:block;
	float:left;
	margin:15px 2px 15px 0;
	width:32%;
	}

