/*START:Menu Left*/
.menuLeft {
	display:block;
	float:left;
	margin:20px 30px 10px 0;
	width:160px;
	}
.menuLeft .banner_left {
	display:block;
	width:160px;
	overflow:hidden;
	}
.menuLeft div {
	margin:0 0 10px 0;
	}
/*END:Menu Left*/

/*START:Menu Top*/
.menu_top ul {
	float:right;
	}
.menu_top {
	background:#000;
	clear:both;
	display:block;
	padding:10px 0;
	}
.menu_top ul.jd_menu li {
	margin:0 2px 2px 0;
	}
.menu_top ul.jd_menu li ul {
	margin:2px 2px 0 0;
	}
.menu_top ul.jd_menu li ul li ul {
	margin:2px 0 0 2px;
	}
/*END:Menu Top*/
