html, body {
    background: #fff;
    color: #1B1B1B;
    direction: ltr;
    font: 14px/20px 'CopseRegular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-align: left;
    letter-spacing: 0;
    unicode-bidi: embed;
}
/* END: ----------------------- */

/* Clear Definition : life saver with floats */
p.clear {
    clear: both !important;
    line-height: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    display: block !important;
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
}
/* END: ----------------------- */

/* Main Site/page Containers definition */
.siteContainer {
    background: #FFFFFF;
    display: block;
    margin: 0 auto;
    width: 980px;
}

.siteContainer .pageContainer {
    border: 10px solid #FFFFFF;
    display: block;
    font-size: 14px;
}
/* END: ----------------------- */

.displayNone {
    display: none;
}

/* Main Site/page Containers definition */
.editSeparator {
    border-bottom: 1px dotted #AAAAAA;
    display: block;
    height: 1px;
    margin: 20px 0;
}
/* END: ----------------------- */

.overflow-x {
    overflow-x: visible;
}

.top_menu_container {
    display: block;
    height: 94px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 980px;
}

.logo_text, .logo_text a {
    background: url("../images/logo.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 33px;
    text-indent: -9999px;
    width: 178px;
}

.logo_text {
    left: 0;
    position: absolute;
    top: 30px;
}

.menu_top {
    clear: both;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 40px 0 0;
    text-transform: lowercase;
}

.menu_top ul {
    float: right;
    margin: 0;
    padding: 0;
}

.menu_top ul li {
    border-right: 1px solid #333333;
    display: inline;
}

.menu_top ul li:hover {
}

.menu_top ul li.last {
    border: none;
}

.menu_top ul li a {
    color: #999999;
    font-size: 16px;
    padding: 0 5px 0 6px;
}

.menu_top ul li a:hover {
    color: #693;
}

.menu_top ul li ul {
    margin: 2px 2px 0 0;
}

.menu_top ul li ul li ul {
    margin: 2px 0 0 2px;
}

.siteContainer .pageContainer .contents ol {
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 0;
}

.siteContainer .pageContainer .contents ol li {
    display: list-item;
    list-style: decimal outside none;
    margin: 0 0 10px 30px;
}

.title-h2 {
    background: none repeat scroll 0 0 #999999;
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    height: 12px;
    line-height: 10px;
    margin: 0 0 15px;
    padding: 0 10px;
    text-align: left;
    text-transform: lowercase;
}

.feed_counter {
    background: #99CC99;
    display: block;
    float: left;
    height: 26px;
    overflow: hidden;
    text-align: center;
    width: 90px;
}

.welcome {
    display: block;
    float: right;
    margin: 6px 0 0;
}

select#template {
    background: none repeat scroll 0 0 #000000;
    border: 1px solid #333333;
    color: #EEEEEE;
    float: left;
    margin: 3px 0 0 6px;
    padding: 5px;
}

.right_column {
    display: block;
    float: right;
    margin: 0 0 10px;
    width: 164px;
}

.banner_left {
    margin: 10px 0 0 0;
}

.google_468_60_top {
    display: block;
    float: right;
    height: 60px;
    margin-top: 12px;
    overflow: hidden;
    width: 468px;
}

#languages {
    padding: 5px;
}

.ticker {
    display: block;
    padding: 5px;
    color: #000;
    background: #333;
    text-align: center;
}

.login {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
    width: 100%;
}

.loginBg {
    display: block;
    padding: 20px 25px 2px;
}

.loginBgBottom {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid #EEEEEE;
    background: #fff;
    display: block;
    margin: 0 auto;
    width: 384px;
}

.loginBgTop {
    display: block;
}

.loginBgTop h2 {
    background: #DEDEDE;
    color: #666666 !important;
    display: block !important;
    margin: 0 !important;
    padding: 16px 20px !important;
    width: 344px !important;
}

.login label.txtFld {
    border: medium none !important;
    display: block;
    float: left;
    font-weight: bold;
    padding-top: 17px;
    width: 110px;
}

.login input.txtFld {
    background-color: #FFFFFF !important;
    border: 1px solid #EEEEEE;
    display: block;
    float: left;
    margin: 12px 0pt;
    padding: 4px;
    width: 206px;
}

.forgot label {
    display: inline;
}

.forgot {
    display: block;
    padding: 1px 7px 3px 4px;
    text-align: right;
}

/* old stuff */
.contact_success {
    display: block;
}

.contact_success p {
    margin-bottom: 4px !important;
}

.contact_success a {
    color: #D42229;
    text-decoration: underline;
}

.contact_success {
    color: #333;
    text-decoration: none;
}

.siteContainer .pageContainer .contents {
    border-left: 20px solid #ffffff;
    display: block;
    float: left;
    margin: 0 0 15px;
    width: 590px;
}

.siteContainer .pageContainer .contents h2 {
}

.siteContainer .pageContainer .contents h2 a {
    color: #666;
}

.siteContainer .pageContainer .contents div.content {
    border-top: 12px solid #999999;
    display: block;
    margin: 0;
    padding: 15px 15px 0;
}

.siteContainer .pageContainer .contents a {
    color: #333;
    font-weight: bold;
}

.siteContainer .pageContainer .contents a:hover {
    color: #90D47E;
}

.siteContainer .pageContainer .contents a.rel-author:hover {
    color: #000;
}

.siteContainer .pageContainer .contents .no_access {
    color: #CCCCCC;
}

.siteContainer .pageContainer .contents blockquote {
    background: #F3F3F3 none repeat scroll 0 0;
    border: 1px dashed #DEDEDE;
    font-style: italic;
    font-weight: bold;
    margin: 25px;
    overflow: auto;
    padding: 10px;
}

.siteContainer .pageContainer .contents blockquote.code {
    background-color: #FBFBFD;
    border-color: #DAE0E4;
    border-style: solid;
    border-width: 1px 1px 1px 3px;
    font-style: normal;
    padding: 5px 8px;
    margin: 4px 0 15px 4px;
}

blockquote.code div#phpcode {
    color: #352B95;
    font-style: normal;
}

blockquote.code div#phpcode h6 {
    background: #999999;
    color: #FFFFFF;
    padding: 2px 22px;
}

.siteContainer .pageContainer .contents .author_date {
    background-color: #90D47E;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid #eee;
    color: #333;
    display: block;
    font-size: 9px;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-align: right;
}

.siteContainer .pageContainer .contents .author_date .author {
    padding-right: 10px;
}

.siteContainer .pageContainer .contents .author_date .date {
    float: right;
}

.siteContainer .pageContainer .contents .tag {
    display: block;
    padding: 5px;
}

.siteContainer .pageContainer .contents .tag .title {
    background: #DEDEDE;
    border: 1px solid #999999;
    display: block;
    float: left;
    font-weight: bold;
    padding: 2px 4px;
}

.siteContainer .pageContainer .contents .tag a.tag {
    background: #F3F3F3;
    border: 1px solid #DEDEDE;
    color: #666;
    display: block;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 2px 4px;
}

.siteContainer .pageContainer .contents .tag a.tag:hover {
    border: 1px solid #AEE474;
    color: #218B03;
}

.siteContainer .pageContainer .contents .tag a.tag_last {
}

.siteContainer .pageContainer .contents .comment_holder {
    clear: both;
    display: block;
    margin-top: 10px;
}

.siteContainer .pageContainer .contents .comment_holder .title {
    border-bottom: 1px dashed #CCCCCC;
    display: block;
    font-weight: bold;
    margin: 4px 0;
    padding: 5px 0;
}

.siteContainer .pageContainer .contents .comment_holder form.comment {
    display: block;
    margin-top: 20px;
}

.siteContainer .pageContainer .contents .comment_holder form.comment label {
    display: block;
    float: left;
    font-weight: bold;
    padding: 4px;
    text-align: right;
    width: 115px;
}

.siteContainer .pageContainer .contents .comment_holder form.comment .inputtxt {
    background: #EEEEEE;
    border: 1px solid #AAAAAA;
    margin-bottom: 6px;
    padding: 4px;
}

.siteContainer .pageContainer .contents .comment_holder form.comment .txtfield {
    width: 230px;
}

.siteContainer .pageContainer .contents .comment_holder form.comment .txtarea {
    height: 80px;
    overflow: auto;
    width: 230px;
}

.siteContainer .pageContainer .contents .comment_holder form.comment .btn {
    margin: 0 0 5px 124px;
}

.siteContainer .pageContainer .contents .comment_holder form.comment label.spam_question {
    clear: both;
    display: block;
    float: none;
    margin-left: 119px;
    text-align: left;
    width: auto;
}

img#captcha {
    margin: 0;
}

.comment_holder #comment {
    display: block;
}

.comment_holder #comment div.comment {
    background: #FFFFFF url(../images/admin-bg.gif) repeat-x left top;
    display: block;
    margin-top: 15px;
}

.comment_holder #comment p.comment {
    display: block;
    margin: 0;
    padding: 4px 10px;
}

.comment_holder #comment p.commenter {
    border-top: 1px solid #FFFFFF;
    color: #777777;
    display: block;
    height: 22px;
    margin: 0;
    overflow: hidden;
    text-align: right;
}

.comment_holder #comment p.commenter a {
    color: #777777;
    display: block;
    float: right;
    padding-right: 6px;
}

.comment_holder #comment p.commenter a:hover {
    color: #000;
    text-decoration: underline;
}

.comment_holder #comment p.commenter span {
    display: block;
    float: right;
    padding: 0 5px;
}

div.footer_recent_entry {
    display: block;
    width: 36%;
    float: left;
    margin-right: 4%;
}

div.footer_most_popular {
    display: block;
    width: 36%;
    float: left;
}

div.footer_ontheweb_popular {
    display: block;
    width: 20%;
    float: right;
}

.siteContainer .pageContainer .contents li {
    margin: 0 0 10px;
}

.siteContainer .pageContainer .contents li p {
    margin: 10px 0 0;
}

.siteContainer .pageContainer .contents li a {
    color: #333;
    text-decoration: underline;
}

.siteContainer .pageContainer .contents li p img {
    border: 5px solid #FF6600;
    display: block;
    margin: 0 auto;
}

img.gravatar {
    float: left;
    margin: 0 10px 5px 0;
}

.menuLeft {
    display: block;
    float: left;
    margin: 0 0 10px;
    width: 164px;
}

.menuLeft .banner_left {
    display: block;
    width: 160px;
    overflow: hidden;
}

.menuLeft div ul {
    margin: 0 0 25px;
    padding: 0;
    text-align: left;
    text-transform: lowercase;
}

.menuLeft div ul li {
    display: block;
    font-size: 22px;
    margin: 0 0 10px;
}

.menuLeft div ul li.last {
    border: none !important;
}

.menuLeft div.tag_cloud {
    display: block;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 162px;
}

/*END:Menu Left*/

.friends {
}

.friends ul {
}

.friends ul li {
}

.friends ul li a {
    float: none;
}

.tag_cloud {
    margin: 0 0 20px;
}

.tag_cloud #tag_cloud {
}

.tag_cloud a {
    display: block;
    float: left;
    padding: 0 2px 2px 0;
}

.tag_cloud a:hover {
}

.tag_cloud a.cloud0 {
    font-size: 22px !important;
    color: #666666;
}

.tag_cloud a.cloud1 {
    font-size: 21px !important;
    color: #666656;
}

.tag_cloud a.cloud2 {
    font-size: 20px !important;
    color: #666646;
}

.tag_cloud a.cloud3 {
    font-size: 19px !important;
    color: #666636;
}

.tag_cloud a.cloud4 {
    font-size: 18px !important;
    color: #666626;
}

.tag_cloud a.cloud5 {
    font-size: 17px !important;
    color: #666616;
}

.tag_cloud a.cloud6 {
    font-size: 16px !important;
    color: #666606;
}

.tag_cloud a.cloud7 {
    font-size: 15px !important;
    color: #666596;
}

.tag_cloud a.cloud8 {
    font-size: 14px !important;
    color: #666586;
}

.tag_cloud a.cloud9 {
    font-size: 13px !important;
    color: #666576;
}

.tag_cloud a.cloud10 {
    font-size: 12px !important;
    color: #666566;
}

.tag_cloud a.cloud11 {
    font-size: 11px !important;
    color: #666556;
}

.tag_cloud a.cloud12 {
    font-size: 10px !important;
    color: #666546;
}

.tag_cloud a.cloud13 {
    font-size: 10px !important;
    color: #666536;
}

.tag_cloud a.cloud14 {
    font-size: 10px !important;
    color: #666526;
}

.tag_cloud a.cloud15 {
    font-size: 10px !important;
    color: #666516;
}

.tag_cloud a.cloud16 {
    font-size: 9px !important;
    color: #666506;
}

.tag_cloud a.cloud17 {
    font-size: 9px !important;
    color: #666496;
}

.tag_cloud a.cloud18 {
    font-size: 9px !important;
    color: #666486;
}

.tag_cloud a.cloud19 {
    font-size: 9px !important;
    color: #666476;
}

.tag_cloud a.cloud20 {
    font-size: 9px !important;
    color: #666466;
}

.page_numbers {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    width: 100%;
    text-align: center;
}

.page_numbers div {
    background: #F3F3F3;
    border: 1px solid #DEDEDE;
    display: block;
    float: left;
    font-weight: bold;
    margin-right: 2px;
}

.page_numbers div a, .page_numbers .current {
    display: block;
    padding: 4px 10px;
}

.page_numbers .first {
}

.page_numbers .previous {
}

.page_numbers .digit {
}

.page_numbers .current {
    background: #666666;
    color: #FFFFFF;
}

.page_numbers .next {
}

.page_numbers .last {
}

.footer-wrapper {
}

#footer {
    border: 10px solid #FFFFFF;
    color: #333333;
    display: block;
    padding-bottom: 10px;
}

#footer ul {
    margin: 0;
    padding: 0;
}

#footer ul li {
    display: block;
    margin: 0 0 10px;
}

#footer a {
    color: #333;
}

#footer a:hover {
    color: #693;
}

.siteContainer .footer_links {
    display: block;
    margin: 5px 0;
}

#footer .links {
    display: block;
    color: #666;
}

#footer .links a:hover {
    text-decoration: underline;
}

#footer .links p {
    display: block;
    clear: both;
    float: none;
    margin: 4px 0 0 7px;
}

#footer .links ul {
    display: block;
    list-style: none;
    list-style-position: outside;
}

#footer .links ul.site li {
    display: block;
    float: left;
}

#footer .links ul.site li a {
    display: block;
    padding: 0 6px;
}

#footer .links ul.acidgreen li {
    display: block;
    float: right;
}

#footer .footer_banner {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    width: 728px;
    height: 90px;
}

.absolute-footer-wrapper {
    background: #818181;
    padding-bottom: 20px;
}

.absolute-footer {
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    width: 980px;
}

.copyright, .powered_by {
    padding: 10px 0 0 30px;
}

.absolute-footer a {
    color: #fff;
    text-decoration: none;
}

.absolute-footer a:hover {
    color: #000;
    text-decoration: underline;
}

.author-photo {
}

.author-photo img {
    border: 1px solid #DEDEDE;
    height: 40px;
    overflow: hidden;
    width: 40px;
}
