<IfModule mod_rewrite.c>
    RewriteEngine On
	
	#disable directory listing for security reasons
	Options -Indexes

	RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]

</IfModule>

php_flag display_errors on